:root {
    /* --color-text:#fff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-bg:#04152d; */

    --color-text: #ffffff;
    --color-primary: #ffccf9;
    --color-secondary: #d4a6d9;
    --color-dark: #a37ea1;
    --color-bg: #654669;

    --font-roboto: "Roboto";
}